{
  "names": [
    {
      "mode": "alts"
    },
    [
      {
        "mode": "serie"
      },
      [
        {
          "mode": "alts"
        },
        "Squemfet",
        "Squanwer",
        "Squarow",
        "Squoshi",
        "Squarid",
        "Sqursnay",
        "Squono",
        "Squolo",
        "Squilfip",
        "Squaray",
        "Squele",
        "Squygle",
        "Squartar",
        "Squeethno",
        "Squartan",
        "Squoattoy",
        "Squakere",
        "Squardo",
        "Squillan",
        "Squenhil",
        "Squoppak",
        "Squolorn",
        "Squiggly",
        "Squjoop",
        "Squolor",
        "Squeo",
        "Squotle",
        "Squikkey",
        "Squimhim",
        "Squarner",
        "Squirtfeld"
      ]
    ]
  ]
}
